body {
    margin: 0;
    color: var(--clr1);
    background-color: var(--bg1);
    font-family: "Google Sans", "Roboto", arial, sans-serif;
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text"] {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #3c4043;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0;
    outline: none;

    &:hover {
        background-color: rgba(60, 64, 67, 0.1);
    }

    &:active {
        transform: scale(0.9);
    }
}