.container {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: 1fr 80px;
    grid-template-areas:
        "header header"
        "main   nav";
    padding: 0 2em;
}