.container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 70px;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        "header header"
        "main   nav";
    padding: 0 1em;
}