.note-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 80px;
    border-bottom: 1px solid var(--clr4);
}

.header-title {
    font-size: 25px;
}

.header-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu {
    width: 24px;
    height: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    padding: 0 10px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.search-bar:focus-within {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
}