.note-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border-bottom: 1px solid var(--clr4);
}

.header-title {
    font-size: 25px;
}

.header-group {
    display: flex;
    align-items: center;
}

.right {
    gap: 10px;
}