.note-preview{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions{
    display: flex;
    justify-content: space-between;

    button{
        height: 32px;
        width: 32px;
    }

    img{
        height: 18px;
        aspect-ratio: 1/1;
    }
}