.note-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 5px;

    justify-self: end;
}

/* .active {
    background-color: var(--clr5);
    border-radius: 50%;
} */