.note-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 5px;

    &:hover button {
        opacity: 1;
    }

    iframe,
    .img-note {
        display: flex;
        justify-self: center;
        width: 100%;
        height: auto;
        object-fit: cover;
        max-height: 350px;
        margin-bottom: 10px;
    }
}

.actions {
    display: flex;
    justify-content: space-between;

    margin-top: 5px;

    button {
        height: 32px;
        width: 32px;
        opacity: 0;
    }

    img {
        height: 18px;
        aspect-ratio: 1/1;
    }
}

.btn-pin {
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;
}
